<div class="arrant chat-card" data-actor-id="{{actorId}}" data-hide={{hideData}}>
    {{#each commands}}
    {{> systems/arrant/templates/chat/help/chat-command-display-info.hbs}}
    {{/each}}
    <p>{{{link}}}</p>

</div>