<div class="arrant chat-card" data-actor-id="{{actorId}}" data-hide = {{hideData}}>
    {{> systems/arrant/templates/chat/roll/test-card.hbs}}
    {{> systems/arrant/templates/partials/overcasts.hbs}}
</div>