<div class="arrant chat-card" data-actor-id="{{actorId}}" data-hide = {{hideData}}>
    {{> systems/arrant/templates/chat/roll/test-card.hbs}}

    {{#if test.context.templates.length}}
        {{#if test.spell.system.range.vortex}}
            <a class="chat-button vortex-movement">{{localize "CHAT.VortexMove"}}</a>
        {{/if}}
    {{/if}}

    {{#if (settings "useWoMOvercast")}}
        {{> systems/arrant/templates/partials/wom-overcasts.hbs}}
    {{else}}
        {{> systems/arrant/templates/partials/overcasts.hbs}}
    {{/if}}
</div>